.App {
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: chartreuse;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-align: left;
}

footer {
  grid-area: footer;
  background-color: blanchedalmond;
}

header {
  grid-area: header;
  background-color: cadetblue;
}
