.App {
  text-align: center;
}

.nav {
  grid-area: nav;
  background-color: brown;
  opacity: 0.8;
  font-weight: bolder;
  font-size: large;
  color: gainsboro;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-align: left;
}

footer {
  grid-area: footer;
  background-color: brown;
  opacity: 0.9;
  font-size: smaller;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
}

header {
  grid-area: header;
  background-color: lightgray;
  color: darkred;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.user-sign {
  text-align: right;
  font-size: smaller;
}

main {
  background-color: gainsboro;
}

.comments-list {
  background-color: red;
}

.topic-header {
  font-family: monospace;
  background-color: lightgray;
  color: darkred;
  text-align: right;
}

.title {
  font-family: monospace;
}

.readmore {
  font-weight: bold;
}

/* .topic-name {
  font-weight: bolder;
  font-weight: 800;
  opacity: 1;
} */

.home-link {
  font-weight: bolder;
  font-weight: 800;
  opacity: 1;
}

.home-link :hover {
  background-color: chartreuse;
}
