.App {
  text-align: center;
}

.nav {
  grid-area: nav;

  background-color: darkgray;
  opacity: 0.8;
  font-weight: bolder;
  font-size: large;
  color: gainsboro;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-align: left;
}

footer {
  grid-area: footer;
  background-color: brown;
  opacity: 0.9;
  font-size: smaller;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
}

header {
  grid-area: header;
  background-color: darkred;
  opacity: 0.8;
  color: lightgray;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.user-sign {
  text-align: right;
  font-size: smaller;
}

.article-list {
  background-color: gainsboro;
}

.article-by-id {
  background-color: gainsboro;
}

.comments-list {
  background-color: lightgray;
}

.topic-header {
  font-family: monospace;
  background-color: lightgray;
  color: darkred;
  text-align: right;
}

.title {
  font-family: monospace;
}

.readmore {
  font-weight: bold;
}

/* .topic-name {
  font-weight: bolder;
  font-weight: 800;
  opacity: 1;
} */

.home-link {
  font-weight: bolder;
  font-weight: 800;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

Track ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: rgb(3, 35, 36);
}

/* mouse over link */
a:hover {
  color: rgb(233, 62, 10);
}

.comment-box {
  width: 97%;
  height: 100px;
  padding: 10px;
  background-color: lightgray;
  font: 1.4em/1.6em cursive;
  color: #07090a;
  border: 3px solid darkred;
  font-family: monospace;
}
